

@font-face {
  font-family: 'OpenSansRegular';
  src: url("./../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
}
@font-face{
  font-family: 'OpenSansBold';
  src: url("./../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-style: normal;
}
@font-face{
  font-family: 'OpenSansExtraBold';
  src: url("./../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
}
@font-face{
  font-family: 'OpenSansItalic';
  src: url("./../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
  font-style: normal;
}
@font-face{
  font-family: 'RobotoBlack';
  src: url("./../assets/fonts/Roboto/Roboto-Black.ttf");
  font-style: normal;
}
@font-face{
  font-family: RobotoRegular;
  src: url("./../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
}
