@charset "UTF-8";
@font-face {
  font-family: "OpenSansRegular";
  src: url("./../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("./../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("./../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("./../assets/fonts/Open_Sans/OpenSans-Italic.ttf");
  font-style: normal;
}
@font-face {
  font-family: "RobotoBlack";
  src: url("./../assets/fonts/Roboto/Roboto-Black.ttf");
  font-style: normal;
}
@font-face {
  font-family: RobotoRegular;
  src: url("./../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "OpenSansRegular", serif;
  font-size: 10px;
  color: #413431;
}

a {
  text-decoration: none;
  color: #EBB018;
}

li {
  list-style: none;
}

h2 {
  font-family: "RobotoBlack", sans-serif;
  font-size: 3.6rem;
}

h3 {
  font-family: "RobotoBlack", sans-serif;
  font-size: 2.2rem;
}

.btnDown {
  background-color: rgba(0, 0, 0, 0);
}

.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  /*overflow: hidden;*/
}

.slider__items {
  display: flex;
  justify-content: space-between;
  transition: transform 0.5s ease;
}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 270px;
  max-width: 100%;
  margin-right: 30px;
  user-select: none;
}

/* кнопки влево и вправо */
.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(179, 185, 189, 0.2);
}

.slider__control_hide {
  display: none;
}

.slider__control[data-slide=prev] {
  left: 0;
}

.slider__control[data-slide=next] {
  right: 0;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(179, 185, 189, 0.4);
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control[data-slide=prev]::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control[data-slide=next]::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы */
.slider__indicators {
  position: absolute;
  right: 0;
  bottom: -103px;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  /*width: 30px;*/
  /*height: 5px;*/
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(179, 185, 189, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(179, 185, 189, 0.9);
}

.header {
  min-height: 840px;
  padding: 48px 0;
  color: white;
  font-size: 2rem;
  background-image: url("./../assets/img/header/bg-header.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.header__flex-wrapper {
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-family: "OpenSansBold", serif;
}
.header__top-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__navigation {
  font-size: 1.5rem;
}
.header__nav-list {
  display: flex;
}
@media screen and (max-width: 1080px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  margin-left: 54px;
}
.header__nav-link {
  font-family: RobotoRegular, sans-serif;
  color: white;
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
}
.header__nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EBB018;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
  transform: scaleX(0);
}
.header__nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.header__burger-btn {
  display: none;
}
@media screen and (max-width: 1080px) {
  .header__burger-btn {
    display: block;
  }
}
.header__vertical-menu {
  position: absolute;
  top: 0;
  right: 0;
  height: 840px;
  background-color: #58534A;
}
.header__vertical-menu_hidden {
  display: none;
}
.header__vertical-menu_visible {
  display: block;
}
.header__menu-item {
  padding: 5px 20px;
}
.header__menu-item:hover {
  border: 1px solid #EBB018;
}
.header__close-btn {
  width: 50px;
  height: 50px;
  background-color: #EBB018;
}
.header__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__title {
  text-align: center;
  font-family: "RobotoBlack", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  letter-spacing: 0.13em;
  margin-bottom: 60px;
}
.header__text {
  font-family: "OpenSansBold", serif;
  font-weight: bold;
  text-align: center;
  line-height: 3.6rem;
  letter-spacing: 0.13em;
  margin-bottom: 60px;
}
.header__accent-text {
  color: #EBB018;
}
.header__bottom {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "OpenSansItalic", serif;
  font-size: 1.5rem;
}

.btn {
  width: 224px;
  height: 58px;
  background: #EBB018;
  border: 2px solid #EBB018;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
  font-family: OpenSansBold, serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.btn a {
  width: 100%;
  height: 100%;
  color: #413431;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: white;
  border: 2px solid #413431;
}

.services {
  padding: 100px 0;
}
.services__title {
  margin-bottom: 78px;
}
.services__content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .services__content {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.services__item {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__ico {
  background: linear-gradient(135deg, #FFD27B 0%, rgba(255, 222, 158, 0.85) 100%);
  box-shadow: 0 5px 25px rgba(251, 213, 138, 0.6);
  border-radius: 4px;
  width: 105px;
  height: 105px;
  text-align: center;
  line-height: 105px;
  margin-bottom: 43px;
}
.services__ico img {
  vertical-align: middle;
}
.services__titleService {
  font-size: 2.6rem;
  margin-bottom: 21px;
  text-align: center;
}
.services__text {
  font-size: 1.5rem;
  text-align: center;
}

.examples {
  position: relative;
  padding: 100px 0 190px;
  background-color: #F5F3F0;
  font-size: 1.5rem;
}
.examples__title {
  margin-bottom: 77px;
}
.examples__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 26px;
  min-height: 397px;
}
.examples__item img {
  margin-bottom: 35px;
}
.examples__item_name {
  margin-bottom: 11px;
}
.examples__item_text {
  margin-bottom: 18px;
  line-height: 2rem;
}
.examples__item_text:last-child {
  margin: 0;
}
.examples__slider-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 1350px) {
  .examples__slider-control {
    display: none;
  }
}
.examples__slider-control[data-slide=next] {
  right: -80px;
}
.examples__slider-control[data-slide=prev] {
  left: -80px;
}

.coworking {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 100px 0 93px;
}
.coworking__title {
  margin-bottom: 77px;
}
.coworking__content {
  display: flex;
}
@media (max-width: 987px) {
  .coworking__content {
    flex-direction: column-reverse;
  }
}
.coworking__left-cont {
  width: 50%;
}
@media (max-width: 987px) {
  .coworking__left-cont {
    width: auto;
  }
}
.coworking__left-cont p {
  margin-bottom: 38px;
}
.coworking__left-cont p:last-of-type {
  margin-bottom: 57px;
}
.coworking__right-cont {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 987px) {
  .coworking__right-cont {
    width: auto;
    justify-content: center;
    margin-bottom: 57px;
  }
}
.coworking__right-cont img {
  box-shadow: 0 5px 30px rgba(118, 127, 133, 0.47);
}
@media (max-width: 987px) {
  .coworking__btn {
    margin: auto;
  }
}

.connection {
  background-color: #58534A;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 108px 0 105px;
}
.connection__wrapper {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-gap: 30px;
}
.connection__form form {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px 40px 110px;
}
.connection__form button, .connection__form input, .connection__form optgroup, .connection__form select, .connection__form textarea {
  background-color: #58534A;
  color: #ffffff;
}
.connection__form input, .connection__form textarea {
  border: none;
  border-bottom: 1px solid #ffffff;
}
.connection__form input[type=text],
.connection__form input[type=tel] {
  grid-column: 1/4;
}
.connection__form input[type=email],
.connection__form select {
  grid-column: 4/7;
}
.connection__form textarea {
  grid-column: 1/6;
  resize: none;
}
.connection__form button {
  border: 1px solid #EBB018;
  border-radius: 50%;
  background-color: #EBB018;
  width: 48px;
  height: 48px;
  transition: all 0.3s ease-in-out 0s;
  background-image: url("./../assets/img/Arrow.svg");
  box-shadow: 0 0 2px #EBB018;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(-90deg);
}
.connection__form button:hover {
  box-shadow: 0 0 4px white;
}
.connection__title {
  margin-bottom: 84px;
}
.connection__address {
  margin-bottom: 28px;
}
.connection__contacts {
  margin-bottom: 28px;
}

.gallery {
  padding: 100px 0;
}
.gallery__title {
  margin-bottom: 84px;
}
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 219px 50px 142px 225px;
  grid-gap: 30px;
}
.gallery__grid-item {
  box-shadow: 0px 5px 30px rgba(44, 34, 29, 0.47);
  overflow: hidden;
}
.gallery__grid-item img {
  height: 100%;
}
.gallery__grid-item:nth-child(2n) {
  grid-column: 2;
  grid-row: 1/4;
}
.gallery__grid-item:nth-child(3n) {
  grid-column: 3;
  grid-row: 1/3;
}
.gallery__grid-item:nth-child(4n) {
  grid-column: 1;
  grid-row: 2/5;
}
.gallery__grid-item:nth-child(5n) {
  grid-column: 2;
  grid-row: 4/5;
}
.gallery__grid-item:nth-child(6n) {
  grid-column: 3;
  grid-row: 3/5;
}

.footer {
  color: white;
  font-size: 1.5rem;
  background-color: #543F32;
  padding: 98px 0;
}
.footer__cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
  line-height: 2.2rem;
}
.footer__logo {
  font-family: "OpenSansBold", serif;
  font-size: 2rem;
}

.contacts {
  display: flex;
  align-items: center;
}
@media (max-width: 1030px) {
  .contacts {
    flex-direction: column;
    align-items: start;
  }
}
.contacts__tel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 42px;
  margin-right: 30px;
  line-height: 2.2rem;
}
@media (max-width: 1030px) {
  .contacts__tel {
    margin-bottom: 18px;
  }
}
.contacts__tel:before {
  position: absolute;
  content: "";
  display: block;
  width: 29px;
  height: 31px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./../assets/img/connection/phone-call.svg");
  background-repeat: no-repeat;
}
.contacts__instagram {
  position: relative;
  padding-left: 36px;
}
.contacts__instagram:before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./../assets/img/connection/instagram.svg");
  background-repeat: no-repeat;
}
.contacts_fff a {
  color: white;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
