@font-face {
  font-family: "OpenSansRegular";
  src: url("./../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("./../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("./../assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
  font-style: normal;
}
@font-face {
  font-family: "RobotoBlack";
  src: url("./../assets/fonts/Roboto/Roboto-Black.ttf");
  font-style: normal;
}
@font-face {
  font-family: RobotoRegular;
  src: url("./../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "OpenSansRegular", serif;
  font-size: 10px;
  color: #413431;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2 {
  font-family: "RobotoBlack", sans-serif;
  font-size: 36px;
}

h3 {
  font-family: "RobotoBlack", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 720px;
  padding: 48px 0;
  color: white;
  font-size: 2rem;
  background-image: url("./../assets/img/header/bg-header.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.header__logo {
  font-family: "OpenSansBold", serif;
}
.header__top-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header__navigation {
  font-size: 1.5rem;
}
.header__nav-list {
  display: flex;
}
@media screen and (max-width: 1080px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-item {
  margin-left: 54px;
}
.header__nav-link {
  font-family: RobotoRegular, sans-serif;
  color: white;
  letter-spacing: 0.1em;
  position: relative;
  display: inline-block;
}
.header__nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EBB018;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
  transform: scaleX(0);
}
.header__nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.header__burger-btn {
  display: none;
}
@media screen and (max-width: 1080px) {
  .header__burger-btn {
    display: block;
  }
}
.header__offer {
  padding: 74px 0 82px;
}
.header__title {
  text-align: center;
  font-family: "RobotoBlack", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 0.13em;
  margin-bottom: 60px;
}
.header__text {
  font-family: OpenSansBold, serif;
  font-weight: bold;
  text-align: center;
  line-height: 3.6rem;
  letter-spacing: 0.13em;
}
.header__accent-text {
  color: #EBB018;
}

.btn__body {
  width: 224px;
  height: 58px;
  background: #EBB018;
  border: 2px solid #EBB018;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out 0s;
}
.btn__body:hover {
  background-color: white;
  border: 2px solid #413431;
}
.btn__text {
  font-family: OpenSansBold, serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #413431;
}

.services {
  padding: 100px 0;
}
.services__title {
  margin-bottom: 78px;
}
.services__content {
  display: flex;
  justify-content: space-between;
}
.services__item {
  width: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__ico {
  background: linear-gradient(135deg, #FFD27B 0%, rgba(255, 222, 158, 0.85) 100%);
  box-shadow: 0 5px 25px rgba(251, 213, 138, 0.6);
  border-radius: 4px;
  width: 105px;
  height: 105px;
  text-align: center;
  line-height: 105px;
  margin-bottom: 43px;
}
.services__ico img {
  vertical-align: middle;
}
.services__titleService {
  font-size: 2.6rem;
  margin-bottom: 21px;
  text-align: center;
}
.services__text {
  font-size: 1.5rem;
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
