*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'OpenSansRegular', serif;
  font-size: 10px;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}


@import "fonts";
@import "variables";
@import "./blocks/header";
@import "./blocks/btn";



.container{
  width: 1170px;
  @media screen and (max-width: 1200px) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
