.connection{
  background-color: #58534A;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 108px 0 105px;
  .grid-wrapper{
    display: grid;
    grid-template-columns: 7fr 5fr;
  }
  &__title{
    margin-bottom: 84px;
  }
  &__address{
    margin-bottom: 28px;
  }
  &__contacts{
    margin-bottom: 28px;
    display: flex;
    align-items: center;
  }
  &__tel{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 42px;
    margin-right: 30px;
    line-height: 2.2rem;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 29px;
      height: 29px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include imgPath("connection/phone-call.svg");
      background-repeat: no-repeat;
    }
  }
  &__instagram{
    position: relative;
    padding-left: 36px;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 24px;
      height: 23px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include imgPath("connection/instagram.svg");
      background-repeat: no-repeat;
    }
  }
}
