@import "../mixin";

.contacts{
  display: flex;
  align-items: center;
  &__tel{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 42px;
    margin-right: 30px;
    line-height: 2.2rem;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 29px;
      height: 31px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include imgPath("connection/phone-call.svg");
      background-repeat: no-repeat;
    }
  }
  &__instagram{
    position: relative;
    padding-left: 36px;
    &:before{
      position: absolute;
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      @include imgPath("connection/instagram.svg");
      background-repeat: no-repeat;
    }
  }
  &_fff{
    a{
      color: white;
    }
  }
}
