@import "../variables";

.connection{
  background-color: $bgColorDark;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 108px 0 105px;
  .grid-wrapper{
    display: grid;
    grid-template-columns: 7fr 5fr;
  }
  &__title{
    margin-bottom: 84px;
  }
  &__address{
    margin-bottom: 28px;
  }
  &__contacts{
    margin-bottom: 28px;
  }
}
