.coworking{
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 163px 0 246px;
  //@include imgPath("coworking/Rectangle27.png", 50%, no-repeat, right);
  //@include imgPath("coworking/Vector.svg", 50%, no-repeat, left);
  @include multiBGI(
                  "coworking/Rectangle27.png", right, no-repeat, 50%,
                  "coworking/Vector.svg", left, no-repeat, 60%,
  );
  //background-repeat: no-repeat;
  //background-position: right;
  //background-size: 50%;
  &__title{
    margin-bottom: 77px;
  }
  &__content{
    display: flex;
    @media (max-width: 987px) {
      flex-direction: column-reverse;
    }
  }
  &__left-cont{
    width: 50%;
    @media (max-width: 987px) {
      width: auto;
    }
    p{
      margin-bottom: 38px;
    }
    p:last-of-type{
      margin-bottom: 57px;
    }
  }
  &__btn{
    @media (max-width: 987px) {
      margin: auto;
    }
  }
}
