.coworking{
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 163px 0 246px;

  //@include imgPath("coworking/Vector.svg", 50%, no-repeat, left);
  @include multiBGI(
                  "coworking/Rectangle27.png", right, no-repeat, 50%,
                  "coworking/Vector.svg", left, no-repeat, 60%,
  );
    @media (max-width: 860px) {
      @include imgPath("coworking/Rectangle27Opacity.png", 100%, no-repeat, right center);
      padding: 90px 0 200px;
  }
  &__title{
    margin-bottom: 77px;
  }
  &__content{
    display: flex;
    @media (max-width: 987px) {
      flex-direction: column-reverse;
    }
  }
  &__left-cont{
    width: 50%;
    @media (max-width: 860px){
      width: 80%;
    }
    @media (max-width: 500px){
      width: 100%;
    }
    p{
      margin-bottom: 38px;
    }
    p:last-of-type{
      margin-bottom: 57px;
    }
  }
  &__btn{
    @media (max-width: 987px) {
      margin: auto;
    }
  }
}
